
        .picture{
			position: absolute;
			top: 10px;
			width:1520px;
			height:740px;
			background-image:url("../img/landing.jpg"); 
			background-position: center;
			background-repeat: repeat;
			}
		.landing {
			position: absolute;
			left: 750px;
			top: 100px;
			font-size :25px;
			
		}	
		.usname {
			position: absolute;
			left: 700px;
			top: 190px;
		}
		.password {
			position: absolute;
			left: 700px;
			top: 250px;
		}
		.check {
			position: absolute;
			left: 695px;
			top: 300px;
			color:black;
			
		}
		.forgot a{
			position: absolute;
			left: 805px;
			top: 300px;
			color:	#000000;
		}
		.button button{
			position: absolute;
			left: 700px;
			top: 360px;
			width:170px;
			height:45px;
			border: none;
			outline: none;
			color: white;
			font-size: 20px;
			background-color: cornflowerblue;
		}
		.red a{
			position: absolute;
			left: 835px;
			top: 420px;
			color:#FFFFFF;
		}